@font-face { font-family: Barlow; src: url('barlow.ttf'); } 

body {
	background-color: white;
	font-family: Barlow;
	background-image: url('back.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
}
form {
	margin: 0 auto; 
	width: 50%;
}

.header{
	text-align: left;
	font-size: 48px;
	margin: 20px 0px 20px 16px;
	font-style: bold;
}

.menu {
	font-size: 20px;
	font-style: bold;
}

.item {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 30px;
}

table, td {
  border-spacing: 2px;
  border: 1px solid gray;
  width: 100%;
}

.btncenter {
	width: 100%;
	margin-top: 16px;
}

.td-id {
	width: 5%;
}

.td-fname, .td-lname {
	width: 15%;
}

.td-email {
	width: 20%;
}

.td-pl {
	width: 5%;
}

.td-e, .td-d {
	width: 5%;
}

td, th {
	text-align: center;
}